/* Your app custom styles here */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: rgb(255, 255, 255);
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
  --f7-color-deeporange-tint: #ff864b;
  --f7-login-screen-blocks-max-width: 480px;

  --f7-login-screen-bg-color: #121212;
  --f7-login-screen-content-bg-color: #121212;
  /*

  
   --f7-login-screen-list-button-text-color: var(--f7-theme-color);
   */
  --f7-login-screen-title-text-align: center;
  --f7-login-screen-title-text-color: inherit;
  --f7-login-screen-title-letter-spacing: 0;
  --f7-login-screen-title-font-weight: 600;
  --f7-login-screen-title-font-size: 28px;
  --f7-login-screen-content-bg-color: rgb(214, 243, 227);
  --f7-login-screen-bg-color: rgb(141, 214, 166);
  
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
  
}

  .ios {
    --f7-login-screen-blocks-margin-vertical: 25px;
     }
     .aurora {
        --f7-login-screen-blocks-margin-vertical: 50px;
      }
     
  
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;



  --r: 0;
  --g: 122;
  --b: 255;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}


main
{
    margin: 16px;
}



.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}


.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
    

  }

  .demo-card-header-pic .card-content-padding .date {
    color: #8e8e93;
  }

  .demo-facebook-card .card-header {
    display: block;
    padding: 10px;
  }

  .demo-facebook-card .demo-facebook-avatar {
    float: left;
  }

  .demo-facebook-card .demo-facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
  }

  .demo-facebook-card .demo-facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
  }

  .demo-facebook-card .card-footer {
    background: #fafafa;
  }

  .demo-facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
  }

  .demo-facebook-card .card-content img {
    display: block;
  }

  .demo-facebook-card .card-content-padding {
    padding: 15px 10px;
  }

  .demo-facebook-card .card-content-padding .likes {
    color: #8e8e93;
  }
.page
{
 
    background-color: rgb(42, 160, 72)   

   
}

  .navbar-bg:after {
    display:none;
  }
  
  .toolbar:before {
    display:none;
  }

.navbar-inner{
    background-color: #ee8036;
    
    

}

nav a:hover /*caundo el cursor este ensima de un elemento cambia de color*/
{
    background-color: rgb(235, 164, 72);
    color: #e3ece6;
    transition: background-color 0.5s ease, color 0.5s ease-in;
    
   
}
nav
{
    color: #e98a65;
   
}

nav a
{
    font-family: 'kalam', 'helvetica', serif;
    display: inline-block;
    color: #000;
   
    padding: 17px 60px /* trouble TRBL Top Right Bottom Left  8px de abajo hacia arriba 16 px de izquierda a derecha */;
    text-decoration: none /* para quitarle las rayas al texto*/;
    transition: background-color 0.5s ease, color 0.5s ease-in;
  
}


nav a.current
{
    color: rgb(3, 3, 3);
    background-color: white;
}
article header
{
    border-bottom: 1px solid #fff;
}
nav ul li
{
   
    display: inline;
}

article header
{
    border-bottom: 1px solid #fff;
    color: rgb(0, 0, 0);
}


footer
{
    background-color: rgb(28, 151, 54);
    color: rgb(199, 199, 199);
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    
}

